/*********************/
/* Header And nav */
/*********************/
.header {
  position: relative;
  background-color: var(--darker-primary-color);
  padding: 22rem 0;
}

.background-header-1 {
  height: 40rem;
  right: 0;
  top: 0;
}

.background-header-2 {
  height: 20rem;
  bottom: 0;
  left: 0;
}

/*********************/
/* Main navigation */
/*********************/
.main-nav {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.main-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 0;
  font-size: 1.6rem;
}

.main-nav-container .logo-img {
  height: 3.2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.nav-link:link,
.nav-link:visited {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--light-grey);
}

.nav-registretion {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

#nav-button {
  font-size: 3.2rem;
  cursor: pointer;
  display: none;
  height: 3.2rem;
}

#nav-button .close-icon {
  display: none;
}

#nav-button.open .menu-icon {
  display: none;
}

#nav-button.open .close-icon {
  display: initial;
}

/*********************/
/* header-content */
/*********************/
.main-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  line-height: 1.5;
  gap: 4.8rem;
}

.main-header-content .header-primary,
.header-description {
  width: 60%;
}

.main-header-content .btn {
  font-size: 1.6rem;
}

.header-buttons {
  display: flex;
  gap: 1.6rem;
}

/*********************/
/* Features section */
/*********************/
.features-section {
  padding: 9.6rem 0;
}

.features {
  margin-top: 9.6rem;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4.8rem;
}

.feature-icon {
  display: inline-block;
  font-size: 4.8rem;
  padding: 1.2rem;
  background-color: var(--light-primary-color-background);
  color: var(--secondary-color);
  border-radius: 11px;
}

.feature-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.feature-title {
  font-size: 3rem;
  font-weight: var(--bold-text);
}

.feature-text {
  font-size: 1.6rem;
  line-height: 1.8;
  color: var(--color-grey);
}

/*********************/
/* Video section */
/*********************/
.video-section {
  padding: 9.6rem 0;
  background-image: url('../img/video-seciton/background.svg');
  background-position: center;
  background-size: cover;
  background-color: var(--darker-primary-color);
}

.video-container {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  align-items: center;
}

.video-thumbnail {
  position: relative;
}

.video-start-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 9.8rem;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.9;
}

.video-start-icon:hover {
  opacity: 0.7;
}

.video-player {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.4s;
  pointer-events: initial;
  opacity: 1;
  visibility: visible;
}

.video-player-frame {
  width: 80rem;
  height: 50rem;
}

.video-exit-button {
  position: absolute;
  right: 2.4rem;
  top: 2.4rem;
  font-size: 4.4rem;
  cursor: pointer;
  transition: color 0.3s;
}

.video-exit-button:hover {
  color: var(--color-grey);
}

/*********************/
/* Used by section */
/*********************/
.used-by-section {
  padding: 4.8rem 0;
}

.used-by-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  background-color: var(--light-primary-color-background);
  padding: 6.4rem 3.2rem;
  border-radius: 10px;
}

.used-by-container img {
  height: 3.2rem;
  filter: grayscale(1);
  transition: all 0.3s;
}

.used-by-container img:hover {
  filter: grayscale(0);
}

/*********************/
/* Usage by section */
/*********************/
.usage-section {
  padding: 4.8rem 0;
}

.usage-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.usage-list li {
  display: grid;
  grid-template-columns: 60fr 40fr;
  align-items: center;
}

.usage-list li:first-child {
  padding-bottom: 6.4rem;
  border-bottom: 0.4px solid var(--color-grey);
}

.usage-list li:last-child {
  grid-template-columns: 50fr 50fr;
}

.usage-list .usage-text-box {
  width: 75%;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--color-grey);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.usage-check-list {
  row-gap: 2.4rem;
}

.usage-list .usage-text-box h3 {
  color: var(--primary-text-color);
  font-size: 4.4rem;
  line-height: 1.05;
}

.usage-check-item {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.usage-check-item .usage-check-icon {
  background-color: var(--light-primary-color-background);
  border-radius: 9px;
  font-weight: 900;
  font-size: 3.2rem;
  padding: 0.4rem;
  color: var(--secondary-color);
}

.usage-text-box h4 {
  color: #fff;
  font-size: 3.2rem;
  margin-bottom: 0.8rem;
}

/*********************/
/* testimonials section */
/*********************/
.testimonials-section {
  background-color: var(--darker-primary-color);
  padding: 9.6rem 0;
  position: relative;
}

.testimonail-background-1 {
  top: 0;
  right: 0;
}

.testimonail-background-2 {
  bottom: 0;
  left: 0;
}

.testimonials {
  margin-top: 9.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4.8rem;
}

.testimonial {
  background-color: var(--lightest-primary-color);
  padding: 3.2rem;
  border-radius: 11px;
  transition: all 0.4s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.testimonial:hover {
  transform: scale(1.03);
}

.testimonial-rating {
  color: #fbb040;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-bottom: 3.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  margin-bottom: 3.2rem;
}

.testimonial-footer {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.testimonial-footer h3 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

.testimonial-footer p {
  color: var(--color-grey);
  font-size: 1.6rem;
}

/*********************/
/* pricing section */
/*********************/
.pricing-section {
  padding: 9.6rem 0;
  position: relative;
}

.pricing-section .pricing-background-1 {
  left: 0;
  bottom: 0;
}

.pricing-section h2 {
  line-height: 1.1;
}

.prices {
  column-gap: 3.2rem;
}

.price-item {
  background-color: var(--lightest-primary-color);
  padding: 3.2rem;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 1.6rem;
  line-height: 1.5;

  position: relative;
}

.price-item .price-background-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.price-item .price-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-item .price-header h3 {
  font-size: 3.2rem;
}

.price-item .price-header p {
  font-size: 2rem;
  font-weight: var(--bold-text);
}

.price-item .price-description {
  color: var(--color-grey);
}

.price-item .btn {
  text-align: center;
}

.price-item .price-list {
  list-style: none;
  padding-top: 3.2rem;
  border-top: 1px solid rgba(51, 51, 51, 0.8);
}

.price-item .price-list li {
  color: var(--color-grey);
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.price-item .price-list li:not(:last-child) {
  margin-bottom: 1.6rem;
}

.price-item .price-icon {
  padding: 0.4rem;
  background-color: var(--light-primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
}

/*********************/
/* Blogs section */
/*********************/
.blogs-section {
  padding: 9.6rem 0;
}

.blogs {
  column-gap: 3.2rem;
  margin-top: 4.8rem;
}

.blog-container {
  display: block;
}

.blog {
  position: relative;
  background-color: var(--lightest-primary-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.blog a:link,
.blog a:visited {
  color: var(--primary-text-color);
  text-decoration: none;
}

.blog a:hover,
.blog a:active {
  color: var(--secondary-color);
}

.blog-img {
  width: 100%;
}

.blog-type {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  padding: 1.2rem;
  border-radius: 100px;
  font-size: 1.6rem;
}

.blog-body {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem;
}

.blog-title:link,
.blog-title:visited {
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: var(--bold-text);
}

.blog-description {
  color: var(--color-grey);
  font-size: 1.6rem;
  line-height: 1.5;
}

.blog-footer {
  padding-top: 2.4rem;
  border-top: 1px solid rgba(51, 51, 51, 0.8);
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  column-gap: 1.2rem;
  align-items: center;
}

.blog-author-box {
  border-right: 1px solid rgba(51, 51, 51, 0.8);
  margin-right: 1rem;
}

.blog-author-box,
.blog-date-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  font-size: 1.4rem;
}

.blog-author {
  letter-spacing: 0.75px;
}

/*********************/
/* Support section */
/*********************/
.support-section {
  padding: 9.6rem 0;
}

.support-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 2.4rem;
}

.feedback {
  background-color: var(--lightest-primary-color);
  padding: 4.8rem;
  border-radius: 11px;
}

.feedback h3 {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

.feedback p {
  color: var(--color-grey);
  font-size: 1.6rem;
  margin-bottom: 6.4rem;
}

.feedback-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
  row-gap: 2.4rem;
  font-size: 1.6rem;
}

.feedback-form label {
  display: block;
  margin-bottom: 1.2rem;
}

.feedback-form input,
.feedback-form textarea {
  display: block;
  padding: 1.2rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none;
  background-color: var(--light-primary-color);
  color: var(--primary-text-color);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  letter-spacing: 0.75px;
  line-height: 1.5;
  transition: all 0.1s;
}

.feedback-form input:focus-within,
.feedback-form textarea:focus-within {
  border-color: var(--secondary-color);
}

.feedback-form textarea {
  resize: none;
  height: 12.8rem;
}

.feedback-big-input {
  grid-column: 1 / -1;
}

.feedback button {
  display: inline-block;
  width: fit-content;
  padding: 1.6rem 2.4rem;
  border-radius: 5px;
  font-weight: 500;
}

.subscribe {
  padding: 4.8rem;
  background-color: var(--light-primary-color-background);
  border-radius: 11px;
  line-height: 1.5;
  position: relative;
}

.subscribe h3 {
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
}

.subscribe p {
  color: var(--color-grey);
  font-size: 1.6rem;
  border-bottom: 1px solid var(--color-grey);
  padding-bottom: 4.8rem;
}

.subscribe .subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.6rem;
  margin-top: 2.4rem;
}

.subscribe .subscribe-form * {
  font-size: inherit;
}

.subscribe .subscribe-form input {
  padding: 1.6rem;
  border-radius: 9px;
  outline: none;
  background-color: var(--light-primary-color);
  letter-spacing: 1px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: #fff;
  transition: all 0.3s;
}

.subscribe .subscribe-form input:hover,
.subscribe .subscribe-form input:focus-within {
  border-color: var(--secondary-color);
}

.subscribe .subscribe-form input::placeholder {
  color: var(--color-grey);
}

.subscribe .spam {
  margin-top: 2.4rem;
  border-bottom: none;
  padding-bottom: 0;
}

.subscribe .background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*********************/
/* Footer            */
/*********************/
.footer {
  background-color: var(--footer-background);
  font-size: 1.6rem;
  line-height: 1.5;
}

.footer ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.footer-container {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: space-between;
}

.footer a:link,
.footer a:visited {
  color: var(--color-grey);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-logo a:link,
.footer-logo a:visited {
  font-size: 2rem;
  color: var(--primary-text-color);
}

.footer a:hover,
.footer a:active {
  color: var(--secondary-color);
}

.footer-logo p {
  color: var(--color-grey);
  width: 60%;
}

.footer-part ul {
  flex-direction: column;
  margin-top: 3.2rem;
}

.footer-bottom {
  text-align: center;
  font-size: 1.6rem;
  background-color: var(--light-primary-color-background);
  padding: 3.2rem 0;
}
