/*********************/
/* Main navigation */
/*********************/
.main-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 6.4rem;
  font-size: 1.6rem;
}

.main-nav-container .logo-img {
  height: 3.2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.nav-link:link,
.nav-link:visited {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--light-grey);
}

.nav-registretion {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.change-color-display {
  cursor: pointer;
  font-size: 3.2rem;
}
